@model Britespokes.Web.Mailers.GiftOrderConfirmationEmail
@{
    Layout = null;
}
<p>
  <img src="https://britespokesstorage.blob.core.windows.net/images/logo-email.png" alt="Britespokes Logo" />
</p>
<h1>brite spokes order notification</h1>
<p>
  Order confirmation number is: <strong>@Model.GiftOrder.OrderNumber</strong>
</p>
<p>
  <strong>Gift Order Overview:</strong>
</p>

<p>
@string.Format("{0:C}", Model.GiftOrder.Total)
</p>
<p>
  <strong>Buyed by:</strong>
</p>
<p>
  @Model.GiftOrder.BillingAddress.FullName | @Model.GiftOrder.User.Email | @Model.GiftOrder.BillingAddress.Phone
</p>
<p>
  @Model.GiftOrder.BillingAddress.Address1
  @if (!string.IsNullOrEmpty(@Model.GiftOrder.BillingAddress.Address2))
  {
    <br />
    @Model.GiftOrder.BillingAddress.Address2
  }
  <br />
  @Model.GiftOrder.BillingAddress.City, @Model.GiftOrder.BillingAddress.StateOrProvince @Model.GiftOrder.BillingAddress.ZipCode
</p>
<p>
  <strong>Recipient Overview:</strong>
</p>
@foreach (var item in Model.GiftOrder.GiftOrderDetail.Select((item, idx) => new { Recipient = item, Index = (idx + 1) }))
{
  <p>
    Recipient #@item.Index @item.Recipient.RecipientEmail
    
  </p>
}