@model Britespokes.Web.Mailers.OrderConfirmationEmail
@{
  Layout = null;
}
<p>
  <img src="https://britespokesstorage.blob.core.windows.net/images/logo-email.png" alt="Britespokes Logo" />
</p>
<p>
  Hi @Model.Order.BillingAddress.FullName
</p>
<p>
  Thank you, britely. We have received your britespokes.com order and will send to you a detailed itinerary by email approximately 14 days prior to hitting the road.
</p>
<p>
  Your order confirmation number is: <strong>@Model.Order.OrderNumber</strong>
</p>
<p>
  Heads up! On your billing statement, you will see that payment was made to AlliedTPro. That’s our parent company...but don't worry, they're cool.
</p>
<p>
  <strong>Trip Overview:</strong>
</p>
<p>
  @Model.Tour.Name | @Model.Departure.Code | @Model.Departure.DepartureDate.ToShortDateString() - @Model.Departure.ReturnDate.ToShortDateString()
</p>
<p>
  @Model.Tour.DepartureCity | @Model.Tour.ReturningCity
</p>
<p>
@string.Format("{0:C}", Model.Order.Total)
</p>
<p>
  <strong>Booked by:</strong>
</p>
<p>
  @Model.Order.BillingAddress.FullName | @Model.Order.User.Email | @Model.Order.BillingAddress.Phone
</p>
<p>
  @Model.Order.BillingAddress.Address1
  @if (!string.IsNullOrEmpty(@Model.Order.BillingAddress.Address2))
  {
    <br />
    @Model.Order.BillingAddress.Address2
  }
  <br />
  @Model.Order.BillingAddress.City, @Model.Order.BillingAddress.StateOrProvince @Model.Order.BillingAddress.ZipCode
</p>
<p>
  <strong>Traveler Overview:</strong>
</p>
@foreach (var item in Model.Order.Travelers.Select((item, idx) => new { Traveler = item, Index = (idx + 1) }))
{
  <p>
    Traveler #@item.Index @item.Traveler.FullName | @item.Traveler.Email
    @if (!string.IsNullOrEmpty(@item.Traveler.PhoneNumber))
    {
      <text> | @item.Traveler.PhoneNumber</text>
    }
    @if (@item.Traveler.Birthday.HasValue)
    {
      <text> | @item.Traveler.Birthday.Value.ToShortDateString()</text>
    }
  </p>
}
<p>
  <strong>Customer Service:</strong>
</p>
<p>
  Questions? Please feel free to contact our Customer Service Department at 
</p>
<p>
  <a href="mailto:">britefolks@britespokes.com</a> or 1.800.986.4735
</p>
<p>
  Customer Service Hours of Operation: 8:30AM to 5:30PM EST
</p>